<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js_lucky_zi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,436},{60,78}}</string>
                <key>offset</key>
                <string>{-250,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{60,78}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,326},{108,102}}</string>
                <key>offset</key>
                <string>{-226,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,102}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{116,94}}</string>
                <key>offset</key>
                <string>{-169,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{116,94}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,104}}</string>
                <key>offset</key>
                <string>{-116,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,108}}</string>
                <key>offset</key>
                <string>{-66,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,2},{126,108}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{122,106}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,3},{122,106}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,214},{112,106}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,4},{112,106}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,212},{116,96}}</string>
                <key>offset</key>
                <string>{72,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,4},{116,96}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,322},{96,80}}</string>
                <key>offset</key>
                <string>{94,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,9},{96,80}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{108,84}}</string>
                <key>offset</key>
                <string>{112,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,7},{108,84}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,408},{98,82}}</string>
                <key>offset</key>
                <string>{127,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,8},{98,82}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,404},{106,92}}</string>
                <key>offset</key>
                <string>{136,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,9},{106,92}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,310},{112,96}}</string>
                <key>offset</key>
                <string>{156,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,6},{112,96}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{112,94}}</string>
                <key>offset</key>
                <string>{169,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,4},{112,94}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,110},{116,102}}</string>
                <key>offset</key>
                <string>{185,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,2},{116,102}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,108},{118,102}}</string>
                <key>offset</key>
                <string>{198,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,3},{118,102}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{116,102}}</string>
                <key>offset</key>
                <string>{211,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,4},{116,102}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,218},{106,104}}</string>
                <key>offset</key>
                <string>{220,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,3},{106,104}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,112},{98,104}}</string>
                <key>offset</key>
                <string>{231,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,2},{98,104}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{78,88}}</string>
                <key>offset</key>
                <string>{241,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,1},{78,88}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
            <key>js_lucky_zi_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,408},{72,84}}</string>
                <key>offset</key>
                <string>{244,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,3},{72,84}}</string>
                <key>sourceSize</key>
                <string>{560,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>js_lucky_zi.png</string>
            <key>size</key>
            <string>{470,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b9fdcc1633a5f61d28c0f5a080435f2$</string>
            <key>textureFileName</key>
            <string>js_lucky_zi.png</string>
        </dict>
    </dict>
</plist>
