<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1_arch_start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1860},{538,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{538,180}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>nc_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>nc_bj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,4},{639,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,1136}}</string>
                <key>sourceSize</key>
                <string>{639,1136}</string>
            </dict>
            <key>nc_jrbb_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1211},{600,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,394}}</string>
                <key>sourceSize</key>
                <string>{604,396}</string>
            </dict>
            <key>nc_jrbbyl_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,72},{266,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,28}}</string>
                <key>sourceSize</key>
                <string>{266,28}</string>
            </dict>
            <key>nc_kjgg_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1643},{600,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,394}}</string>
                <key>sourceSize</key>
                <string>{604,396}</string>
            </dict>
            <key>nc_kjgg_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,38},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>nc_kjhmzs01_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,649},{639,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,156}}</string>
                <key>sourceSize</key>
                <string>{639,156}</string>
            </dict>
            <key>nc_kjhmzs_01_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1049},{588,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,126}}</string>
                <key>sourceSize</key>
                <string>{588,126}</string>
            </dict>
            <key>nc_kjhmzs_02_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2042},{588,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,2}}</string>
                <key>sourceSize</key>
                <string>{588,2}</string>
            </dict>
            <key>nc_kjhmzs_03_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,18},{588,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,4}}</string>
                <key>sourceSize</key>
                <string>{588,4}</string>
            </dict>
            <key>nc_kjhmzs_04_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,4},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>nc_kjhmzs_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1146},{588,890}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,890}}</string>
                <key>sourceSize</key>
                <string>{588,890}</string>
            </dict>
            <key>nc_lssq_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1211},{600,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,394}}</string>
                <key>sourceSize</key>
                <string>{604,396}</string>
            </dict>
            <key>nc_lssqkj_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,72},{218,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,28}}</string>
                <key>sourceSize</key>
                <string>{218,28}</string>
            </dict>
            <key>nc_shipin_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,811},{600,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,394}}</string>
                <key>sourceSize</key>
                <string>{604,396}</string>
            </dict>
            <key>nc_sjfa_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,649},{600,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,394}}</string>
                <key>sourceSize</key>
                <string>{604,396}</string>
            </dict>
            <key>nc_sjfa_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,4},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>nc_zhalan_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1146},{708,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,226}}</string>
                <key>sourceSize</key>
                <string>{708,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfde57c7060da4e1edfa130fc1090ee:1/1$</string>
            <key>textureFileName</key>
            <string>Common_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
