<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1_arch_start02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{538,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{538,180}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>cell_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,534},{30,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,293},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,258},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t12.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,275},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,223},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,328},{32,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t15.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,270},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,499},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,464},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t18.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,270},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,307},{22,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,429},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t20.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,236},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,394},{30,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,272},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,236},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,569},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,359},{30,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t8.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,275},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{26,27}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cell_t9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,188},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>fruit_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,4},{172,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,85}}</string>
                <key>sourceSize</key>
                <string>{172,85}</string>
            </dict>
            <key>fruit_name_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,95},{166,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,87}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>fruit_name_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,4},{171,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,85}}</string>
                <key>sourceSize</key>
                <string>{171,85}</string>
            </dict>
            <key>fruit_name_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,183},{166,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,82}}</string>
                <key>sourceSize</key>
                <string>{166,82}</string>
            </dict>
            <key>fruit_name_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,4},{167,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,85}}</string>
                <key>sourceSize</key>
                <string>{167,85}</string>
            </dict>
            <key>fruit_name_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,97},{166,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,85}}</string>
                <key>sourceSize</key>
                <string>{166,85}</string>
            </dict>
            <key>fruit_name_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,4},{170,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,84}}</string>
                <key>sourceSize</key>
                <string>{170,84}</string>
            </dict>
            <key>fruit_name_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,95},{168,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,83}}</string>
                <key>sourceSize</key>
                <string>{168,83}</string>
            </dict>
            <key>fruit_name_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,144},{167,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,86}}</string>
                <key>sourceSize</key>
                <string>{167,86}</string>
            </dict>
            <key>fruit_name_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,184},{167,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,85}}</string>
                <key>sourceSize</key>
                <string>{167,85}</string>
            </dict>
            <key>fruit_name_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,188},{165,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,87}}</string>
                <key>sourceSize</key>
                <string>{165,87}</string>
            </dict>
            <key>fruit_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,94},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>fruit_name_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,4},{167,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,84}}</string>
                <key>sourceSize</key>
                <string>{167,84}</string>
            </dict>
            <key>fruit_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,185},{165,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,87}}</string>
                <key>sourceSize</key>
                <string>{165,87}</string>
            </dict>
            <key>fruit_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,185},{166,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,81}}</string>
                <key>sourceSize</key>
                <string>{166,81}</string>
            </dict>
            <key>fruit_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,95},{167,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,87}}</string>
                <key>sourceSize</key>
                <string>{167,87}</string>
            </dict>
            <key>fruit_name_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,94},{167,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,83}}</string>
                <key>sourceSize</key>
                <string>{167,83}</string>
            </dict>
            <key>fruit_name_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,93},{168,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,86}}</string>
                <key>sourceSize</key>
                <string>{168,86}</string>
            </dict>
            <key>fruit_name_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,4},{169,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,83}}</string>
                <key>sourceSize</key>
                <string>{169,83}</string>
            </dict>
            <key>fruit_name_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,4},{168,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,87}}</string>
                <key>sourceSize</key>
                <string>{168,87}</string>
            </dict>
            <key>fruit_s_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,190},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>fruit_s_t10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,442},{142,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,129}}</string>
                <key>sourceSize</key>
                <string>{142,129}</string>
            </dict>
            <key>fruit_s_t11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,409},{143,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,137}}</string>
                <key>sourceSize</key>
                <string>{143,137}</string>
            </dict>
            <key>fruit_s_t12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,319},{117,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,146}}</string>
                <key>sourceSize</key>
                <string>{117,146}</string>
            </dict>
            <key>fruit_s_t13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,278},{154,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,136}}</string>
                <key>sourceSize</key>
                <string>{154,136}</string>
            </dict>
            <key>fruit_s_t14.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,4},{187,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,134}}</string>
                <key>sourceSize</key>
                <string>{187,134}</string>
            </dict>
            <key>fruit_s_t15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,271},{132,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,146}}</string>
                <key>sourceSize</key>
                <string>{132,146}</string>
            </dict>
            <key>fruit_s_t16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,327},{137,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,142}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>fruit_s_t17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,190},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>fruit_s_t18.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,190},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>fruit_s_t19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,272},{106,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,159}}</string>
                <key>sourceSize</key>
                <string>{106,159}</string>
            </dict>
            <key>fruit_s_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,487},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>fruit_s_t20.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,190},{111,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,128}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>fruit_s_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,322},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>fruit_s_t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,338},{109,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,143}}</string>
                <key>sourceSize</key>
                <string>{109,143}</string>
            </dict>
            <key>fruit_s_t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,552},{121,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,140}}</string>
                <key>sourceSize</key>
                <string>{121,140}</string>
            </dict>
            <key>fruit_s_t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,188},{125,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{125,147}</string>
            </dict>
            <key>fruit_s_t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,609},{137,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,128}}</string>
                <key>sourceSize</key>
                <string>{137,128}</string>
            </dict>
            <key>fruit_s_t8.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,236},{110,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,115}}</string>
                <key>sourceSize</key>
                <string>{110,115}</string>
            </dict>
            <key>fruit_s_t9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,188},{155,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,133}}</string>
                <key>sourceSize</key>
                <string>{155,133}</string>
            </dict>
            <key>fruit_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,493},{96,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{96,96}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,320},{110,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{110,96}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t11.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,454},{90,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{90,88}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,4},{76,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{76,94}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t13.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,275},{102,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{102,82}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,307},{126,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{126,84}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t15.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,448},{82,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{82,94}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t16.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,352},{96,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t17.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,411},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t18.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,422},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{94,98}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,104},{66,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{66,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,520},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{96,94}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t20.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,397},{90,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{90,106}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,281},{98,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{98,100}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,222},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{78,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,432},{82,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{82,98}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,315},{90,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{90,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,363},{96,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{96,88}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t8.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,352},{86,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{86,90}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>fruit_t9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,595},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{96,88}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42efa10f3aabd6ce3753960875922a93:1/1$</string>
            <key>textureFileName</key>
            <string>Common_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
